In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('Purchase.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15566689  Female   35            57000          0
1  15569641  Female   58            95000          1
2  15570769  Female   26            80000          0
3  15570932    Male   34           115000          0
4  15571059  Female   33            41000          0

In [4]:
df.shape

(400, 5)

In [6]:
X=df.drop(['User ID', 'Purchased'],axis=1)
Y=df['Purchased']

In [7]:
from sklearn.preprocessing import LabelEncoder
le_Gender=LabelEncoder()
X['Gender_n']=le_Gender.fit_transform(X['Gender'])
print(X.head())

   Gender  Age  EstimatedSalary  Gender_n
0  Female   35            57000         0
1  Female   58            95000         0
2  Female   26            80000         0
3    Male   34           115000         1
4  Female   33            41000         0

In [8]:
X.drop('Gender',axis=1,inplace=True)

In [9]:
X.head()

   Age  EstimatedSalary  Gender_n
0   35            57000         0
1   58            95000         0
2   26            80000         0
3   34           115000         1
4   33            41000         0

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [12]:
from sklearn.tree import DecisionTreeClassifier
classifier_entropy=DecisionTreeClassifier(criterion='entropy',random_state=100, max_depth=3)
classifier_entropy.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [13]:
y_pred=classifier_entropy.predict(X_test)
print(y_pred)

[0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 0
 1 1 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 1 1 0 0 1
 0 0 0 1 0 0 1 0 1 0 1 0 1 1 1 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 1 1
 0 0 1 1 1 0 0 0 0]

In [14]:
from sklearn.metrics import accuracy_score
print('Accuracy is :',accuracy_score(Y_test,y_pred)*100)

Accuracy is : 88.33333333333333

In [17]:
from sklearn.metrics import confusion_matrix
res=confusion_matrix(Y_test,y_pred)

In [18]:
res

array([[71, 13],
       [ 1, 35]], dtype=int64)