In [1]:
import numpy as np
import pandas as pd

In [5]:
ser1=pd.Series([1,2,3])
print("the series is :\n",ser1)

the series is :
 0    1
1    2
2    3
dtype: int64

In [6]:
arr1=np.array([1,2,3])
ser2=pd.Series(arr1)
print(ser2)

0    1
1    2
2    3
dtype: int32

In [7]:
arr2=np.array([1,2,3])
ser3=pd.Series(arr2, index=['a','b','c'])
print("the series from ndarray is :\n",ser3)

the series from ndarray is :
 a    1
b    2
c    3
dtype: int32

In [9]:
dict1={'a':10,'b':20,'c':30}
ser3=pd.Series(dict1)
print("series from dictionary in the same order :",ser3)

series from dictionary in the same order : a    10
b    20
c    30
dtype: int64

In [11]:
dict1={'a':10,'b':20,'c':30}
ser4=pd.Series(dict1,index=['b','a','c'])
print(ser4)

b    20
a    10
c    30
dtype: int64

In [15]:
arr3=np.arange(0,4)
ser7=pd.Series(arr3,index=['a','b','c','d'])
print("the 2nd element is th series is :",ser7[1])
print("last 3 element of the series :",ser7[-3:])
print(ser7[-3:])

the 2nd element is th series is : 1
last 3 element of the series : b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32

In [13]:
df1=pd.DataFrame()
print("empty df :",df1)

empty df : Empty DataFrame
Columns: []
Index: []

In [14]:
list1=[1,2,3,4]
df2=pd.DataFrame(list1)
print(df2)

   0
0  1
1  2
2  3
3  4

In [17]:
list2=[[1,2,3],[4,5,6],[7,8,9]]
df3=pd.DataFrame(list2)
print(df3)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
list3=[['sachin',10000],['msd',20000],['virat',5000]]
df4=pd.DataFrame(list3,columns=['cricketer','runs'])
#df4["cricketer"].describe()
df4["runs"].describe()

count        3.000000
mean     11666.666667
std       7637.626158
min       5000.000000
25%       7500.000000
50%      10000.000000
75%      15000.000000
max      20000.000000
Name: runs, dtype: float64

In [21]:
dict1={"name":['sachin','sourav','sachin'],"runs":[10000,20000,40000]}
df5=pd.DataFrame(dict1)
print(df5)

     name   runs
0  sachin  10000
1  sourav  20000
2  sachin  40000

In [23]:
dict1={"name":['sachin','sourav','sachin'],"runs":[10000,20000,40000]}
df5=pd.DataFrame(dict1,index=["rank1","rank2","rank3"])
print(df5)

         name   runs
rank1  sachin  10000
rank2  sourav  20000
rank3  sachin  40000

In [22]:
list3=[{"name":"sachin","run":20000},{"name":"sachin","run":20000,"address":"kolkata"}]
df6=pd.DataFrame(list3)
print(df6)

   address    name    run
0      NaN  sachin  20000
1  kolkata  sachin  20000

In [ ]:
list4=[{"a":1,"b":2},{"a":4,"b":5},{"c":10}]
df7=pd.DtaFrame(List4)

In [24]:
df8["three"]=pd.Series([10,11,12],index=['a','b','c'])
print(df8)

NameError: name 'df8' is not defined